*{  
    margin: 0%;
    padding: 0%;
}



.banner img {
    max-width: 100%;
    height: auto;

}

.weblinks {
    text-align: center;

}
.weblinks a:link, a:visited {

    margin: 0px 50px;
    text-decoration: none;
    color: rgb(43, 74, 231);
}


.video {
    max-width: 50%;
    height: auto;
}